
.answer-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid black;
  background-color: white;
}
.answer-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 blue ;
  transform: translateY(-0.1rem);
}
.choice-selection {
  padding: 1.5rem 2.5rem;
  background-color: green;
  color: white;
}
.choice-text {
  width: 100%;
  padding: 1.5rem;
}

.correct {
  background-color: gold;
}
.incorrect {
  background-color: dimgrey;
}